@charset "UTF-8";
body {
    background-color: rgb(202, 202, 202);
    margin: 0px;
    font-family: sans-serif;
}
header {
    background-color: rgb(167, 167, 167);
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
}
nav > a {
    text-decoration: none;
    margin-right: 30px;
   
}
nav > a:hover {
    text-decoration: underline;
}
main {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px 10px 10px 10px; 
    padding: 0px 10px 0px 10px ;
    box-shadow: 2px 2px 2px black;

}
footer#teste {
background-color: black;
color: aliceblue;
text-align: center;
}
